<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="align-items: center">
<table cellspacing="0" cellpadding="0" align="center">
  <tbody>
  <tr>
    <td valign=“top” style="height: 700px!important;padding: 0 40px;border:1px solid #98A8F8;border-radius:5px;" bgcolor="#ffffff">
      <table cellspacing="0" cellpadding="0" align="center">
        <tbody>
        <tr>
          <td align="center">
            <div style="margin: 40px auto;font-size: 25px;font-weight: 600;">MentorUS</div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <img src="https://cdn.iconscout.com/icon/free/png-256/meeting-1543488-1305981.png" alt="email">
          </td>
        </tr>
        <tr>
          <td align="center">
            <h2 style="margin-top:2rem!important;font-size:30px!important;">Bạn có 1 lịch hẹn sắp diễn ra</h2>
          </td>
        </tr>
        <tr>
          <td align="center">
            <p style="width:600px!important;font-size:20px!important;text-align:center!important;letter-spacing:1px!important;margin-bottom:2rem!important;">Lịch hẹn <span th:text="${name}"></span> sẽ diễn ra vào lúc <span th:text="${dueDate}"></span>. Hãy nhấn vào nút bên dưới để mở lịch hẹn nha!</p>
          </td>
        </tr>
        <tr>
          <td align="center" style="height: 60px !important;">
            <a th:href="@{https://web-nang-cao-19-3-ymeb.vercel.app/meeting(meetingId=${id})}" style="text-decoration: none!important; border: 1px solid #98A8F8!important; border-radius: 5px!important; background-color: #98A8F8!important; font-size: 25px!important; color: white!important; padding: 10px 15px!important; cursor: pointer!important;">Mở lịch hẹn</a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
